node_modules/
.pnpm-store/
.nuxt/
.nuxt-app/
.nuxt-build/
.nuxt-dev/
.nuxt-local/
.nuxt-preview/
.nuxt-typecheck/
.nuxt-verify/
.output/
.output-build/
.output-dev/
.output-local/
.output-typecheck/
.output-verify/
dist/
.cache/
.vite-cache/
.eslintcache
.git/
.gitignore
*.md
