.nuxt/
.nuxt-app/
.nuxt-build/
.nuxt-dev/
.nuxt-local/
.nuxt-preview/
.nuxt-typecheck/
.nuxt-verify/
.output/
.output-build/
.output-dev/
.output-local/
.output-typecheck/
.output-verify/
.vite-cache/
.pnpm-store/
dist/
node_modules/
